html, body {
  height: 100%;
  margin: 0;
}

#divPrincipal {
  /* height: 76vh; */
  width: 100%;
  min-height: 70%;
  background-color: #fff;
  padding: 20px;
  border-color: gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px 8px 0 0;
}

small {
  color: rgb(158, 157, 157);
}

#divDisciplina {
  background-color: rgb(184, 179, 179);
  height: 50px;
  padding-top: 10px;
  padding-left: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  margin: 4px;
}

#listaAlternativas {
  list-style-type: none;
  margin-top: 20px;
}

li {
  margin: 10px;
}

#divTimer {
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 250px;
}

#spanTimer {
  font-weight: 600;
  font-size: 18px;
}

#divRodape {
  height: 50px;
  background-color: rgb(184, 179, 179);
  border-color: rgb(184, 179, 179);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  padding: 5px;
}